@charset "utf-8";
/* CSS Document */

.small-container {
    max-width: 700px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
}

#back{
    margin-bottom: 20px;
}

.error-container {
    max-width: 500px;
    margin: auto;
    text-align: center;
}
#content {
    padding: 50px 0;
}
.wrapper {
    position: relative;
    text-align: left;
    margin: 0 auto;
    padding: 0 10px;
    width: 800px;
}